* {
	margin: 0;
}
*:focus {
    outline: none; !important;
}
html {
    margin: 0 auto;
    background: -webkit- #fbf6eb;
    background: -o-#fbf6eb;
    background: -moz-#fbf6eb;
    background: #fbf6eb;
}
body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
	line-height: 20px;
    color: #a9a9a9;
}
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    color: #6d6d6d;
}
h2 {
	font-family: 'Poiret One', cursive;
	font-size: 24px;
    margin-bottom: 30px;
	color: #6d6d6d;
}
section {
    display: block;
    padding: 30px 0 30px 0;
}
a {
    text-decoration: none;
    color: #a9a9a9;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #e0d21e;
    transition: 0.4s;
}
.backToTop {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	margin-right: 30px;
	margin-bottom: 45px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000000000;
	cursor: pointer;
}
.backToTop:hover {
	background-color: #e0d21e;
	transition: 0.8s;
}

/*///////-Navigation-///////*/

.primaryNavBar {
	position: absolute;
	display: block;
    width: 100%;
    height: 80px;
	background-color: rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px #aaaaaa;
    z-index: 100;
}
.logo {
    display: inline-block;
    float: left;
    clear: none;
    margin: 10px 0px 10px 20px;
   
}
.logo img {
    width: auto;
    height: 60px;
    display: block;
}
.logoTitle {
    float: left;
    clear: none;
    margin-left: 40px;
    margin-top: -40px;
    color: #e0d21e; 
	 font-size: 28px;
}
.pageLinks {
    text-align: right;
}
nav li {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
}
.primaryNavBar li {
	margin-top: 32px;
    border-right: solid 1.2px #cccccc;
}
.primaryNavBar li:last-of-type {
    border-right: none;
    margin-right: 20px;
}

/*///////-Hero Banner-///////*/

.intro {
    margin: 0;
	padding: 0;
    color: #ffffff;
    height: 700px;
}
.bannerImageContainer {
    position: absolute;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.heroImage {
    position: absolute;
    height: auto;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}
.introInfo {
	margin-top: 250px;
    position: absolute;
}
.intro h1 {
    width: 90%;
    display: inline-block;
	margin-bottom: 30px;
	font-size: 42px;
	line-height: 42px;
    color: #ffffff;
}
.intro p {
    width: 70%;
    margin: 0 auto 40px auto;
    font-size: 22px;
	line-height: 28px;
}
button {
    margin-bottom: 30px;
    padding: 15px 25px 15px 25px;
    background-color: rgba(224, 210, 30, 0.9);
    border: none;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #ffffff;
    cursor: pointer;
}

/*///////-About-///////*/

.about img {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
}
.about div {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-left: 10px;
	text-align: left;
}
.about h2 {
	margin-top: 5px;
}
.about p {
    margin-bottom: 20px;
}

/*///////-Skills-///////*/

.skills {
	background: -webkit- #f8f8f8;
    background: -o-#f8f8f8;
    background: -moz-#f8f8f8;
    background: #f8f8f8;
}
.individualSkill {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
.individualSkill img {
	width: 45px;
	border: solid 2px #e0d21e;
	border-radius: -webkit- 100px;
    border-radius: -o-100px;
    border-radius: -moz- 100px;
    border-radius: 100px;
	float: left;
	clear: none;
	margin-right: 40px;
	margin-bottom: 120px;
	padding: 15px;
}
.individualSkill:nth-child(even) {
	margin-left: 40px;
}
.individualSkill h3 {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 20px;
}
.individualSkill p {
	text-align: left;
}

/*///////-Gallery-///////*/

.gallery {
	padding-bottom: 0px;
}
.gallery h2 {
	margin-bottom: 20px;
}
.galleryTopics {
	margin-bottom: 35px;
	padding-left: 0px;
}
.galleryTopics li {
	display: inline-block;
	margin-left: 20px;
}
.galleryTopics li p {
	padding-bottom: 5px
}
.current {
	border-bottom: solid 1px #e0d21e;
	color: #e0d21e;
}
.galleryContainer {
}
.project {
	background: -webkit- #ffffff;
    background: -o-#ffffff;
    background: -moz-#ffffff;
    background: #ffffff;
    display: inline-block;  
	vertical-align: top;
	width: 400px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.projectImage {
	width: 400px;
	height: 400px;
	background-color: aqua;
}
.project img {
    width: 400px;
	margin-bottom: 10px;
	padding-top: 0%
}
.singleScreen {
	margin-top: 75px;
}
.applicationLarge {
	margin-top: 20px;
}
.applicationSmall {
	margin-top: 50px;
}
.findo {
	background-color: #d9a776;
}
.seasonal {
	background-color: #f9f4f8;
}
.artventure {
	background-color: #c8fed7;
}
.darkSky {
	background-color: #ceedf7;
}
.cycleSafe {
	background-color: #fee0e6;
}
.yuni {
	background-color: #d9feff;
}
.project h3 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.project h4 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.project p {
	padding: 0 15px 15px 15px;
}

/*///////-Testimonies-///////*/

.testimonies {
	display: block;
	height: 100px;
}
.testimonyBG {
	position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.testimonyBG img {
	position: inherit;
    height: auto;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}
.infoOverlay {
	position: absolute;
}
.testimonies h2 {
	padding-top: 20px;
	color: #ffffff;
}
.individualTestimony {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.individualTestimony:nth-child(odd) {
	margin-left: 40px;
}
.individualTestimony img {
	width: 120px;
	border-radius: 100px;
	display: block;
	margin: 0px auto 15px auto;
}
.individualTestimony quote {
	color: #ffffff;
}
.individualTestimony p {
	color: #ffffff;
}
.testimonyName {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 20px;
}
.testimonyOccupation {
	font-size: 14px;
	margin-top: 5px;
}

/*///////-Contact-///////*/

.contact {
    margin: 400px 20px 0 20px;
}
.formPhoto img {
	float: right;
	clear: none;
	width: 600px;
}
.form {
    width: 45%;
}
fieldset {
    margin: 0 20px 0 0;
    margin-right: auto;
    border: 0;
}
legend {
    font-size: 36px;
    margin-bottom: 10px;
    color: #6d6d6d;
}
fieldset p {
	margin-top: 5px;
    margin-bottom: 15px;
}
.formIcon {
    display: block;
    position: absolute;
    margin-top: 5.5px;
    margin-left: 10px;
	font-size: 20px;
}
label {
    visibility: hidden;
    display: block;
    text-align: left;
    margin: 0px 10px 5px 0px;
    font-size: 12px;
    color: #e05850;
}
label span {
	margin-right: 5px;
}
.outline {
    border: solid 2px #ffffff;
    margin: 5px 0px 10px 0px;
    padding-right: 45px;
}
input {
    display: block;
    width: 100%;
    margin-left: 40px;
    height: 30px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-family: 'Raleway','icomoon', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #6d6d6d;
}
input[name="submit"] {
    position: relative;
	display: block;
    width: 80%;
    height: 35px;
    margin-top: 15px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #e0d21e;
    color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	
}
input[name="submit"]:focus {
    color: #ffffff;
}
input::placeholder {
    color: #a9a9a9;
}
input:focus {
    color: #6d6d6d;
}
textarea {
    display: block;
    width: 100%;
    margin-left: 40px;
    padding-top: 6px;
    padding-left: 1px;
    height: 100px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    resize: none;
    color: #6d6d6d;
}
textarea::placeholder {
    color: #a9a9a9;
}
textarea:focus {
    color: #6d6d6d;
}

/*///////-Footer-///////*/

.footerContainer {
	position: absolute;
    width: 100%;
    height: 150px;
    overflow: hidden;
	background: -webkit- #494846;
    background: -o-#494846;
    background: -moz-#494846;
	background: #494846;
}
.copyright {
	position:absolute;
	left: 0;
	margin-left: 110px;
	margin-right: auto;
	margin-top: 50px;
}
.copyright p:last-child {
    margin-top: 20px;
}
.socialMedia {
	position: absolute;
	right: 0;
	margin-left: auto;
	margin-right: 110px;
	margin-top: 70px;
}
.socialMedia li {
	display: inline;
	margin-left: 15px;
}
.socialMediaIcon span {
	font-size: 20px;
}

/*//- Fonts -//*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y0deh1');
  src:  url('fonts/icomoon.eot?y0deh1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y0deh1') format('truetype'),
    url('fonts/icomoon.woff?y0deh1') format('woff'),
    url('fonts/icomoon.svg?y0deh1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Left-Arrow:before {
  content: "\e901";
}
.icon-Error-Mark:before {
  content: "\e900";
  color: #e2574c;
}
.icon-ArrowUp:before {
  	content: "\e908";
	position: absolute;
	right: 28%;
	top: 25%;
	font-size: 20px;
	color: #ffffff;
	z-index: 10000000;
}
.icon-Behance:before {
  content: "\e909";
}
.icon-CodePen:before {
  content: "\e90a";
}
.icon-Github:before {
  content: "\e90b";
}
.icon-Linkedin:before {
  content: "\e90c";
}
.icon-Pinterest:before {
  content: "\e90d";
}
.icon-Profile:before {
  content: "\e902";
}
.icon-Email:before {
  content: "\e903";
}
.icon-Send:before {
  content: "\e906";
}
.icon-Message:before {
  content: "\e907";
}

/*//- Media Queries -//*/

@media only screen and (max-width: 1180px) {
		.formPhoto img {
	width: 50%;
}
}
@media only screen and (max-width: 1020px) {
	.individualSkill img {
		margin-bottom: 180px;
	}
	.formPhoto img {
	display: none;
	}
	.form {
    width: 70%;
	margin-left: auto;
	margin-right: auto;

	}
}
@media only screen and (max-width: 850px) {
	.individualSkill img {
		margin-bottom: 220px;
	}
}